
.freelancer_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    padding: 10px;

  }



.freelancer_card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: darkcyan;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.freelancer_card button:hover {
  background-color: cadetblue;
  text-decoration: none;
}

.card_image {
    height: 125px;
    width: 100%;
    object-fit: cover;

}

.freelancer_header {
  text-align: center;
  padding: 20px;
}

.card_btn {
  cursor: pointer;
  font-weight: 9000;
}

.card_btn:hover {
  color: darkcyan;
}

.footer {
  padding: 20px;
}

