.Home {
    text-align: center;
  }
  
  
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  
  /* .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
  
  .Home-link {
    color: #61dafb;
  }
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  .Home .homepageWelcome {
    text-align: left;
    padding: 100px 0;
    padding-left: 75px;
  }

  .Home .homepageWelcome h1{
    font-size: 100px;
  }
    
  #background_img {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 600px;
    height: calc(100vh);
    background-position:right top;
  }

  .yellow-font {
    /* Yellow from Wix site color: #D6CC11; */
    color: #f4d160;
  }

  .title {
    color: #f4d160;
  }

  .title:hover {
    color: #f8dc80;
    cursor: pointer;
  }

  
  .blue-background {
    /* Blue from Wix site background-color: #093F7C; */
    background-color: #28527a;
  }

  .yellow-background {
    background-color: #f4d160; 
  }

  .center-align {
    text-align: center;
  }

  .buttons button, a.btn {
    margin: 10px 0px;;
    background-color: #315e92;
    color: #c4dbf0;
    text-decoration: none;
  }

  .buttons button:hover {
    background-color: #28527a;
    color: #f4d160;
    text-decoration: none;
  }

  .buttons a:hover {
    background-color: #28527a;
    color: #f4d160;
    text-decoration: none;
  }
