.Portfolio {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 600px;
    height: calc(100vh);
    background-position:right top;
    background: rgb(255, 255, 255);
}

.Portfolio h1{
    font-size: 50px;
    text-align: centre;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }

.Portfolio h2{
    font-size: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }

.Portfolio h3{
    font-size: 50px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }

  .Portfolio img {
    max-height: 500px;
    width: 100%;
}

.Portfolio .main_carousel img{
  width: 100%;
}

.Portfolio .carousel_caption{
  

}
