#background_img_register {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    padding-top: 5%;
    min-height: 600px;
    height: calc(100vh);
    background-position:right top;
}

.register-btn button {
    margin: 10px 0px;;
    background-color: #315e92;
    color: #f4d160;
    text-decoration: none;
  }

.register-btn button:hover {
    background-color: #28527a;
    color: #f4d160;
    text-decoration: none;
}